---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../layouts/Section.astro";
import Title from "../layouts/Titles.astro";
import Paragraph from "../layouts/Paragraph.astro";

---

<BaseLayout>
  <Section>
    <Title>About this Web</Title>
    <Paragraph>
      
    </Paragraph>
  </Section>
</BaseLayout>
