---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../layouts/Section.astro";

---

<BaseLayout>
  <Section>
    <div class="grid justify-center items-center pt-20">
      <h1 class="py-8 text-4xl text-center pb-20">About @me</h1>
      <p class="pb-8 text-xl md:text-2xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
        repellendus consequatur eius quod quisquam, qui eligendi maxime numquam
        earum totam ea nostrum autem, itaque eos facilis quasi aperiam repellat.
        Dolorem?
        </p>
  </Section>
</BaseLayout>
