---
import AppUpload from '../components/AppUpload';
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../layouts/Section.astro';
import Title from '../layouts/Titles.astro';
import AppGallery from "../components/AppGallery";
import AppGalleryUser from '../components/AppGalleryUser';
---

<BaseLayout>
    <Section class="">
        <Title class="py-20">WALLPAPER UPLOAD</Title>
        <div class="w-auto flex items-center justify-center">
            <AppUpload client:load>
                
            </AppUpload>
        </div>
    </Section>
    <div>
        <AppGalleryUser client:load/>
    </div>
    <div class="max-w-full grid justify-center items-center">
        <AppGallery client:load/>
    </div>
</BaseLayout>

