---
import BaseLayout from "../layouts/BaseLayout.astro";
import Title from "../layouts/Titles.astro";
import AppGallery from "../components/AppGallery";
import AppIndex from "../components/AppGalleryIndex";
import Paragraph from "../layouts/Paragraph.astro";
---

<BaseLayout>
  <div class="mt-40 max-w-full grid justify-center items-center">
    <Title class="text-6xl">WallPapers</Title>
    <Paragraph>
      In this section you can Upload your wallpapers and delete them below with
      just a simple clicks.<br/>
      If you want to know more about how this works in AWS, click on <a
        href="/aboutWeb"
        class="text-xl md:text-2xl text-blue-500 dark:text-[#665fcc] font-semibold"
        >About@Web</a>
        <br/>
        <br/>
      You can only upload images in PNG and JPG, up to 5MB
    </Paragraph>
    <AppIndex client:load />
  </div>
  <div class="max-w-full grid justify-center items-center">
    <Title>Wall-AI Collection</Title>
    <AppGallery client:load />
  </div>
</BaseLayout>
