---
import AppUpload from "../components/AppUpload";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../layouts/Section.astro";
import Title from "../layouts/Titles.astro";
import AppGallery from "../components/AppGallery";
import AppGalleryUser from "../components/AppGalleryUser";
---

<BaseLayout>
  <Section class="bg-[url('/assets/backgrounds/blob-scene-haikei-hero.svg')] dark:bg-[url('/assets/backgrounds/blob-scene-haikei-hero-dark.svg')] bg-cover bg-center pb-20 bg-no-repeat  sm:rounded-2xl">
    <Title class="py-20">WALLPAPER UPLOAD</Title>
    <div class="w-full max-w-auto flex items-center justify-center">
      <AppUpload client:load />
    </div>
    </a>
  </Section>
  <di class="max-w-full grid justify-center items-center">
    <Title>User Wallpapers</Title>
    <AppGalleryUser client:load />
  </di>
  <div class="max-w-full grid justify-center items-center">
    <Title>Wall-AI Repo</Title>
    <AppGallery client:load />
  </div>
</BaseLayout>
