---
import Section from "../layouts/Section.astro";
import Title from "../layouts/Titles.astro";
import Paragraph from "../layouts/Paragraph.astro";
---

<Section id="about">
  <Title>About @me</Title>
  <Paragraph
    class="text-wrap dark:font-semibold bg-[url('/assets/backgrounds/blob-scene-haikei-hero.svg')] dark:bg-[url('/assets/backgrounds/blob-scene-haikei-hero-dark.svg')] bg-cover bg-center bg-no-repeat rounded-2xl px-4 py-4 text-white dark:text-gray-700"
  >
    Ever since childhood, I harbored an insatiable passion and curiosity for
    unraveling the intricacies of the World Wide Web. This fervor ignited the
    moment I laid my hands on my first computer, and it only intensified with
    each new discovery. Despite veering onto a different path at one point, the
    flame of passion continued to burn within me. Now, I am compelled to retrace
    my steps and follow those initial feelings that sparked my fascination with
    the digital realm.
  </Paragraph>
  <a class="flex justify-center" href="/aboutMe/">
    <button
      data-tooltip-target="tooltip-about"
      type="button"
      class="relative text-white text-lg md:text-2xl bg-blue-700 hover:bg-[#665fcc] dark:bg-[#665fcc] dark:hover:bg-blue-700 font-medium rounded-3xl w-auto px-5 py-2.5 text-center"
    >
      Know Me Better?
      <div
        id="tooltip-about"
        role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
      >
        About Me so far
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </button>
  </a>
</Section>

