---
import Section from "../layouts/Section.astro";
import Title from '../layouts/Titles.astro'

---

<Section class="flex flex-col pt-20" id="education">
  <Title>Formal Education</Title>
  <p class="pb-8 pt-20 text-xl md:text-2xl text-center">
    I have been fortunate enough to receive praise for my work in several
    publications. Take a look below to learn more.
  </p>
  <div class="flex flex-col justify-center items-center">
    <ol
      class="flex flex-col relative border-s border-gray-200 dark:border-gray-700 justify-center"
    >
      <li class="mb-10 ms-6">
        <div
          class="absolute grid place-content-center rounded-full bg-white h-10 w-10 -start-5 dark:bg-gray-800"
        >
          <span
            class="relative grid place-content-center rounded-full bg-gray-800 dark:bg-white h-5 w-5"
          ></span>
        </div>
        <h3 class="flex items-center mb-1 text-lg font-semibold">
          Project Admin (MBA)<span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            >August 2023</span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none"
          >Suthern New Hampshire University</time
        >
        <p class="mb-4 text-base font-normal">United States</p>
      </li>
      <li class="mb-10 ms-6">
        <div
          class="absolute grid place-content-center rounded-full bg-white h-10 w-10 -start-5 dark:bg-gray-800"
        >
          <span
            class="relative grid place-content-center rounded-full bg-gray-800 dark:bg-white h-5 w-5"
          ></span>
        </div>
        <h3 class="flex items-center mb-1 text-lg font-semibold">
         Asset Management ISO 55000 (Diploma) <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            >2019</span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none"
          >Antioquia University (UdeA) Medellín</time
        >
        <p class="mb-4 text-base font-normal">
          Colombia
        </p>
      </li>
      <li class="mb-10 ms-6">
        <div
          class="absolute grid place-content-center rounded-full bg-white h-10 w-10 -start-5 dark:bg-gray-800"
        >
          <span
            class="relative grid place-content-center rounded-full bg-gray-800 dark:bg-white h-5 w-5"
          ></span>
        </div>
        <h3 class="flex items-center mb-1 text-lg font-semibold">
         English Level C1 <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            >2018</span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none"
          >BLENDEX - Medellín</time
        >
        <p class="mb-4 text-base font-normal">
          Colombia
        </p>
      </li>
      <li class="mb-10 ms-6">
        <div
          class="absolute grid place-content-center rounded-full bg-white h-10 w-10 -start-5 dark:bg-gray-800"
        >
          <span
            class="relative grid place-content-center rounded-full bg-gray-800 dark:bg-white h-5 w-5"
          ></span>
        </div>
        <h3 class="flex items-center mb-1 text-lg font-semibold">
         Mechanical Engineer <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            >2015</span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none"
          >National University - Medellín (UNAL-Med)</time
        >
        <p class="mb-4 text-base font-normal">
          Colombia
        </p>
      </li>
    </ol>
  </div>
  <Title class="pt-20">Self Education</Title>
  <p class="pb-8 pt-20 text-xl md:text-2xl text-center">
   In this sections I show what key materials I am used to lern so far, not certificated model education.
  </p>
  <div class="flex flex-col justify-center items-center">
    <ol
      class="flex flex-col relative border-s border-gray-200 dark:border-gray-700 justify-center"
    >
      <li class="mb-10 ms-6">
        <div
          class="absolute grid place-content-center rounded-full bg-white h-10 w-10 -start-5 dark:bg-gray-800"
        >
          <span
            class="relative grid place-content-center rounded-full bg-gray-800 dark:bg-white h-5 w-5"
          ></span>
        </div>
        <h3 class="flex items-center mb-1 text-lg font-semibold">
          AWS Certified Solutions Architect Associate SAA-C03
          <span 
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            ><a href="https://www.udemy.com/course/aws-certified-solutions-architect-associate-saa-c03/" target="_blank">Check Out</a></span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none"
          >Udemy - Stephane Maarek</time
        >
        <p class="mb-4 text-base font-normal">Virtual</p>
      </li>
      <li class="mb-10 ms-6">
        <div
          class="absolute grid place-content-center rounded-full bg-white h-10 w-10 -start-5 dark:bg-gray-800"
        >
          <span
            class="relative grid place-content-center rounded-full bg-gray-800 dark:bg-white h-5 w-5"
          ></span>
        </div>
        <h3 class="flex items-center mb-1 text-lg font-semibold">
          AWS EKS Kubernetes-Masterclass | DevOps Microservices
          <span 
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            ><a href="https://www.udemy.com/course/aws-eks-kubernetes-masterclass-devops-microservices/" target="_blank">Check Out</a></span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none"
          >Udemy - Kalyan Reddy Daida</time
        >
        <p class="mb-4 text-base font-normal">Virtual</p>
      </li>
      <li class="mb-10 ms-6">
        <div
          class="absolute grid place-content-center rounded-full bg-white h-10 w-10 -start-5 dark:bg-gray-800"
        >
          <span
            class="relative grid place-content-center rounded-full bg-gray-800 dark:bg-white h-5 w-5"
          ></span>
        </div>
        <h3 class="flex items-center mb-1 text-lg font-semibold">
          AWS EKS Kubernetes-Masterclass | DevOps Microservices
          <span 
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3"
            ><a href="https://www.udemy.com/course/terraform-on-aws-eks-kubernetes-iac-sre-50-real-world-demos/" target="_blank">Check Out</a></span
          >
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none"
          >Udemy - Kalyan Reddy Daida</time
        >
        <p class="mb-4 text-base font-normal">Virtual</p>
      </li>
      
    </ol>
  </div>
</Section>
