---
import Title from "../layouts/Titles.astro";
import Section from "../layouts/Section.astro";
import AppSlides from "./AppSlides";
---

<Section>
  <Title>AI Wallpapers</Title>
  <p class="pb-8 pt-20 text-xl md:text-2xl text-center">
    This is Another project about a Gallery App of Wallpapers created by AI
    using <a
      href="https://www.catbird.ai/"
      class="text-xl md:text-2xl text-blue-500 dark:text-[#665fcc] font-semibold">CatBird.ai</a
    > and <a
      href="https://tensor.art/"
      class="text-xl md:text-2xl text-blue-500 dark:text-[#665fcc] font-semibold">TensorArt</a
    >. This App was created using as a Backend AWS Services:
  </p>
  <div class="flex justify-center">
    <ul class="list-disc text-xl md:text-2xl">
      <li>Lambda</li>
      <li>API Gateway</li>
      <li>S3</li>
      <li>CloudFront</li>
      <li>DynamoDB</li>
      <li>Serverless Framework</li>
      <li>Github Actions</li>
    </ul>
  </div>
  <AppSlides client:load />
  <p class="pb-8 pt-8 text-xl md:text-2xl text-center">If you want to upload a file to S3 and see the full gallery click below</p>
  <a class="flex justify-center" href="/upload/">
    <button
      data-tooltip-target="tooltip-animation-gallery"
      type="button"
      class="text-white text-lg md:text-2xl bg-blue-700 hover:bg-[#665fcc] dark:bg-[#665fcc] dark:hover:bg-blue-700 font-medium rounded-3xl w-auto px-5 py-2.5 text-center"
    >
      Gallery Wallpapers
    </button>
  </a>
  
  <div
    id="tooltip-animation-gallery"
    role="tooltip"
    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Watch Full Gallery
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
</Section>
