---
import Section from "../layouts/Section.astro";
import Title from "../layouts/Titles.astro";
import Paragraph from "../layouts/Paragraph.astro";
import { BsArrowRightCircleFill } from "react-icons/bs";
---

<Section id="projects">
  <Title>Projects</Title>
  <Paragraph>
    I've completed a couple of projects through consistent daily practice,
    independently tackling challenges and enhancing my skills.
  </Paragraph>
  <div class="grid grid-cols-1 justify-center items-center sm:grid-cols-2 gap-10 m-4">
    <a
      href="https://github.com/jljulioa/aws-ecr-ci-cd.git"
      target="_blank"
      class="inline-block"
    >
      <div
        class="max-w-xs mx-auto relative shadow-md rounded-lg cursor-pointer bg-[url('/assets/backgrounds/bg-skills.svg')] dark:bg-[url('/assets/backgrounds/bg-profile-dark.svg')] bg-object-fill bg-no-repeat"
      >
        <img
          src="/assets/project-1.png"
          alt="project-1"
          class="w-full h-auto rounded-t-lg"
        />
        <div
          class="bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg"
        >
          <h1 class="text-2xl font-semibold">EKS & ECR Orchestration</h1>
          <p class="mt-2">
            Push an Nginx image to ECR and Deploy in EKS using GitHub Action
            (exgternal DNS, Route 53 and twilio)
          </p>
        </div>
      </div>
    </a>
    <a
      href="https://github.com/jljulioa/gallery-app-folio-users.git"
      target="_blank"
      class="inline-block"
    >
      <div
        class="max-w-xs mx-auto relative shadow-md rounded-lg cursor-pointer bg-[url('/assets/backgrounds/bg-skills.svg')] dark:bg-[url('/assets/backgrounds/bg-profile-dark.svg')] bg-object-fill bg-no-repeat"
      >
        <img
          src="/assets/project-2.png"
          alt="project-1"
          class="w-full h-auto rounded-t-lg"
        />
        <div
          class="bottom-0 left-0 right-0 h-40 bg-black bg-opacity-50 backdrop-blur text-white p-4 rounded-b-lg"
        >
          <h1 class="text-2xl font-semibold">Backend S3 Wallpapers</h1>
          <p class="mt-2">
            Backend service for Wallpapers Management using Lambda, CloudFront,
            S3 and Serverless Framework. CI/CD GithHub Actions
          </p>
        </div>
      </div>
    </a>
  </div>
</Section>
