---
import KubeIcon from "./icons/kubernetes-icon.astro";
import AWSIcon from "../components/icons/AWS-icon.astro";
import GitHub from "./icons/GitHub-icon.astro";
import Actions from "./icons/Actions-icon.astro";
import Helm from "./icons/Helm-icon.astro";
import EKS from "./icons/EKS-icon.astro";
import ServerlessIcon from "./icons/Serverless-icon.astro";
import Terraform from "./icons/Terraform-icon.astro";
import Sections from "../layouts/Section.astro";
import Title from "../layouts/Titles.astro";
import Paragraph from "../layouts/Paragraph.astro";

const iconLinks: { label: string; icon: any }[] = [
  { label: "TERRAFORM(Learning)", icon: Terraform },
  { label: "SERVERLESS FRAMEWORK", icon: ServerlessIcon },
  { label: "AWS", icon: AWSIcon },
  { label: "AWS EKS", icon: EKS },
  { label: "HELM", icon: Helm },
  { label: "KUBERNETES", icon: KubeIcon },
  { label: "GITHUB", icon: GitHub },
  { label: "GitHub Actions", icon: Actions },
];
---

<Sections id="skills">
  <Title>Tech Skills</Title>
  <Paragraph>
    These are a few skills and tools I've cultivated through daily practice,
    consistently seeking optimal approaches for continuous improvement.
  </Paragraph>
  <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 justify-center items-center">
    {
        iconLinks.map((skill) => (
          <>
              <button
                type="button"
                data-tooltip-target={`tooltip-contact-${skill.label}`}
                class="relative flex justify-center mt-4 items-center text-gray-900 bg-[url('/assets/backgrounds/blob-scene-haikei-hero.svg')] dark:bg-[url('/assets/backgrounds/bg-profile-dark.svg')] bg-cover bg-center bg-no-repeat border-4 border-[#3d30ff] dark:border-[#665fcc] mx-2 rounded-xl text-lg px-2 py-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white"
              >
                <skill.icon class="size-18" />
                <div
                id={`tooltip-contact-${skill.label}`}
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
              >
              {skill.label}
                <div class="tooltip-arrow" data-popper-arrow />
              </div>
              </button>
          </>
        ))      }
    <div></div>
  </div>
  
</Sections>
