---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import FooterV2 from "../components/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body
    class="flex justify-center items-center w-auto mx-auto bg-[url('/assets/backgrounds/layered-waves-haikei.svg')] dark:bg-[url('/assets/backgrounds/layered-waves-haikei-light.svg')] bg-cover bg-center bg-no-repeat bg-[#001220] text-neutral-400 dark:text-slate-900 dark:bg-indigo-100"
  >
    <div class="w-full mx-auto">
      <slot />
      <FooterV2 />
    </div>

    <style>
      :root {
      }
    </style>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", sans-serif;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
